+++
+++
<a class="anchor" id="training"></a>
<section class="pb50">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                Formation Professionnelle
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-12">
                <p>
                    Nous n'offrons malheureusement pas d'achat de place par la formation professionnelle cette année :(
                </p>
            </div>
            <!-- <div class="col-md-6">
                <img height="100" src="/img/brands/beNext-formation.jpg" alt="beNext company">
            </div>
            <div class="col-md-6">
                <p>
                    Les inscriptions via la formation professionnelle sont assurées par notre partenaire formation beNext company
                </p>
                <p>
                    Pour vous inscrire, veuillez remplir directement <a href="https://docs.google.com/forms/d/1mhOeliPgX8UkVBnap0nhJzY5JyCCARsRByXrW2Bz5yI/edit">le formulaire de demande ici</a>
                    ou contactez-nous par  <a href="mailto:yannick.grenzinger@benextcompany.com">e-mail</a>
                </p>
            </div>
            <div class="col-md-6">
                <img height="100" src="/img/brands/beNext-formation.jpg" alt="beNext company">
            </div> -->
        </div>
    </div>
</section>
