<a class="anchor" id="training"></a>
<section class="pb50">
    <div class="container">
        <div class="section_title">
            <h3 class="title">
                Professional Training
            </h3>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <p>
                    Registration via vocational training is provided by our training partner beNext company
                </p>
                <p>
                    To register, please fill in the <a href="https://docs.google.com/forms/d/1mhOeliPgX8UkVBnap0nhJzY5JyCCARsRByXrW2Bz5yI/edit">application form directly here</a>
                    or contact us by <a href="mailto:yannick.grenzinger@benextcompany.com">e-mail</a>
                </p>
            </div>
            <div class="col-md-6">
                <img height="100" src="/img/brands/beNext-formation.jpg" alt="beNext company">
            </div>
        </div>
    </div>
</section>
